.fromtabs-wrapper {
  margin-bottom: 20px;
}

ul.form-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.form-tabs li.tab {
  padding: 10px;
  border: 1px solid darkgray;
  min-width: 80px;
  text-align: center;
}

.form-tabs li.tab:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form-tabs li.tab.active {
  background-color: lightskyblue;
}
